<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Trips</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link th:href="@{/css/table.css}" rel="stylesheet" href="../static/css/table.css">
</head>
<body>
<div class="hero">
    <nav>
        <h2 class="logo">Trips</h2>
        <ul>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/}" class="link">Home</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/users}" class="link">Users</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" id="logout">Logout</a></li>
        </ul>
    </nav>
</div>

<div class="table">
    <div class="table-header">
        <div>
            <a th:href = "@{/trips/new}" class = "btn btn-primary btn-sm mb-3"> Add Trip</a>
        </div>
    </div>
    <div class="table-selection">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Days</th>
                <th>Price</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr th:each = "exc: ${excs}">
                <td th:text = "${exc.name}"></td>
                <td th:text="${exc.address}"></td>
                <td th:text="${exc.numberOfDays}"></td>
                <td th:text="${exc.price}"></td>
                <td th:text="${exc.tripType}"></td>
                <td>
                    <a th:href = "@{/trips/edit/{id}(id=${exc.name})}"
                       class = "btn btn-primary">Update</a>

                    <a th:href = "@{/trips/delete/{id}(id=${exc.name})}"
                       class = "btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>