<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>E-Tourist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<div class="hero">
    <nav>
        <h2 class="logo">Welcome to <span>E-Tourist</span></h2>
        <ul>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/users}" id="link">Users</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" id="logout">Logout</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <a th:href="@{/trips/camp}" class="btn">Camping</a>
    <a th:href="@{/trips/exc}" class="btn">Excursion</a>
    <a th:href="@{/trips/tra}" class="btn">Travel</a>
</div>
</body>
</html>